<p id="notice"><%= notice %></p>

<h1>Listing Precs</h1>

<table>
  <thead>
    <tr>
      <th>Prec desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @precs.each do |prec| %>
      <tr>
        <td><%= prec.prec_desc %></td>
        <td><%= link_to 'Show', prec %></td>
        <td><%= link_to 'Edit', edit_prec_path(prec) %></td>
        <td><%= link_to 'Destroy', prec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prec', new_prec_path %>
