<div class="row">
  <div class="large-3 medium-3 small-4 left columns">
    <strong><span class="nd_workflow_name"><%= f.object.assigned_to_first_name %> <%= f.object.assigned_to_last_name %></span> </br>
    <span class="nd_workflow_netid"><%= f.object.assigned_to %></span>
    </strong>
  </div>
  <div class="large-1 medium-1 small-1 right columns">
    <%= link_to_remove_association image_tag("x_16x16.png", :border=>0, :alt=>"Remove", :title=>"Remove", :tabIndex=>"500"), f %>
  </div>
  <div class="large-8 medium-8 small-7 right columns">
    <% if allow_approval %>
      <% approval_checked = f.object.workflow_type == 'approval' %>
      <%= f.check_box :approval, {checked: approval_checked, class: 'nd_workflow_approval_cb'} %> Request Approval<br />
    <% end %>
    <%= f.hidden_field :workflow_type, class: 'workflow_type' %>
    <%= f.check_box :email_include_detail, class: 'nd_workflow_include_details_cb' %>  Include Detail in Notification Email<br />
    Email Comments: <%= f.text_area :email_notes,  size: '20x2', maxlength: '500' %>
    <%= f.hidden_field :assigned_to_netid, class: 'assigned_to_netid' %>
    <%= f.hidden_field :assigned_to_first_name, class: 'assigned_to_first_name' %>
    <%= f.hidden_field :assigned_to_last_name, class: 'assigned_to_last_name' %>
  </div>
</div>
