<div class="nested-fields" >

    <div class="row">
        <div class="large-3 medium-3 small-4 left columns">
          <div class="row"><span class="nd_workflow_name"><%= f.object.assigned_to_first_name %> <%= f.object.assigned_to_last_name %></span></div>
          <div class="row"><span class="nd_workflow_netid"><%= f.object.assigned_to_netid %></span></div>
        </div>
        <div class="large-1 medium-1 small-1 right columns"><%= link_to_remove_association image_tag("nd_application_workflow/x_16x16.png", :border=>0, :alt=>"Remove", :title=>"Remove", :tabIndex=>"500"), f %>
        </div>
        <div class="large-8 medium-8 small-7 right columns">
          <div class="row">
            <%= f.check_box :email_include_detail, class: 'nd_workflow_email_include_detail_cb' %>  Include Transaction Detail in Notification Email
          </div>
          <div class="row">
            Email Comments: <%= f.text_area :email_notes,  size: '20x2', maxlength: '500' %>
          </div>
          <%= f.hidden_field :workflow_type, class: 'nd_workflow_type' %>
          <%= f.hidden_field :auto_or_manual, class: 'nd_workflow_auto_or_manual', value: 'manual' %>
          <%= f.hidden_field :assigned_to_netid, class: 'nd_workflow_assigned_to_netid' %>
          <%= f.hidden_field :assigned_to_first_name, class: 'nd_workflow_assigned_to_first_name' %>
          <%= f.hidden_field :assigned_to_last_name, class: 'nd_workflow_assigned_to_last_name' %>
          <%= f.hidden_field :created_by_netid, class: 'nd_workflow_created_by_netid' %>
        </div>
    </div>
</div>
