<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>ND Application Workflow Sample Application</title>
    <%= javascript_include_tag "application" %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid sticky" id="the-top-bar">
      <nav class="top-bar" data-topbar>
        <div class="top-bar-section">
          <ul >
            <li class="divider"></li>
            <li><a href="/parent_records">Parent Record List</a></li>
            <li class="divider"></li>
            <li><a href="/parent_records/new">New (workflow with approvals by default)</a></li>
            <li class="divider"></li>
            <li><a href="/parent_records/new/true">New (workflow with approvals)</a></li>
            <li class="divider"></li>
            <li><a href="/parent_records/new/false">New (workflow with fyi only)</a></li>

          </ul>
        </div>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>
