<script type="text/javascript">
$(document).ready(function(){

    enable_nd_workflows();
});

</script>
<%= form_for(@parent_record) do |pr| %>
  <% if @parent_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parent_record.errors.count, "error") %> prohibited this parent_record from being saved:</h2>

      <ul>
      <% @parent_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <input type="hidden" id="nd_workflow_current_user_id" name="nd_workflow_current_user_netid" value="TMEYER2">
 <%= render "nd_application_workflow/workflow_employee_lookup_reveal" %>
  <div class="field">
    <%= pr.label :parent_desc %><br>
    <%= pr.text_field :parent_desc %>
  </div>
  <div>Can add approvals? <%= pr.object.nd_workflow_approval_available.to_s %>
    <%= pr.hidden_field :nd_workflow_approval_available %>
  <div>Can indicate whether or not to include detail in email? <%= pr.object.nd_workflow_include_email_detail_cb.to_s %>
      <%= pr.hidden_field :nd_workflow_include_email_detail_cb %>
  <p>** once saved only the last workflow item can be edited</p>
<% wf_partial_approval_text = "with_approval" %>
<% wf_partial_approval_text = "fyi_only" unless pr.object.nd_workflow_approval_available %>
<% wf_partial_email_detail_text = "without_email_detail" %>
<% wf_partial_email_detail_text = "with_email_detail" if pr.object.nd_workflow_include_email_detail_cb %>
  <% wf_display_partial = "workflow_fields_display_#{wf_partial_email_detail_text}" %>
  <% wf_edit_partial = "workflow_edit_#{wf_partial_approval_text}_#{wf_partial_email_detail_text}" %>
  <div id="nd_workflow_list">
    <% wf_count = @parent_record.manual_workflows.count %>
    <% wf_index = 1 %>
    <%= pr.fields_for :manual_workflows do |wf| %>
      <% if wf_index < wf_count %>
        <%= render "/nd_application_workflow/#{wf_display_partial}_option", :f => wf, output_type_description: true, output_custom_type_description: false %>
      <% else %>
        <%= render "/nd_application_workflow/#{wf_edit_partial}_option", f: wf %>
      <% end %>
      <% wf_index += 1 %>
    <% end %>

  </div>

  <% add_button_label = "Add Notification/Approval" if pr.object.nd_workflow_approval_available
     add_button_label = "Add Notification" unless pr.object.nd_workflow_approval_available
     partial_file = "/nd_application_workflow/#{wf_edit_partial}_option"
     %>
  <div class="row"><div class="large-4 medium-5 small-6 left column">
    <!-- link_to_add_association functionality comes from the cocoon gem -->
    <%= link_to add_button_label, "javascript: void(0);", class: "button small", id: "b_add_nd_workflow" %>
  </div></div>
  <div style="display: none;">
    <%= link_to_add_association add_button_label, pr, :nd_workflows, { :partial => partial_file, "data-association-insertion-node" => "#nd_workflow_list", "data-association-insertion-method" => "append", :class => "button small", :id => "b_nd_workflow_insert" } %>
  </div>
  <div class="actions">
    <%= pr.submit %>
  </div>
<% end %>
